<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <system.serviceModel>

    <!--<diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>-->
    
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
         </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="WCFDemoSvc.DemoService">
        <!--<host>          
          <baseAddresses>
            <add baseAddress="http://localhost:10001/DemoSvc/" />
          </baseAddresses>
        </host>-->
        
       
        <endpoint address="http://localhost:10001/DemoSvc/DemoService" binding="basicHttpBinding" bindingConfiguration="" contract="WCFDemoSvc.IDemoService"/>
        <!--<endpoint address="http://localhost:10001/DemoSvc/DemoServiceWsHttp" binding="wsHttpBinding" bindingConfiguration="" contract="WCFDemoSvc.IDemoService"/>-->
        <endpoint address="http://localhost:10001/DemoSvc/DemoService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service name="WCFDemoSvc.DemoServiceSesA">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/DemoSvc/"/>
          </baseAddresses>
        </host>
        <endpoint address="DemoServiceSesA" binding="basicHttpBinding" contract="WCFDemoSvc.IDemoSvcSesA" listenUriMode="Explicit">          
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">          
        </endpoint>
        <endpoint address="net.tcp://localhost:10008/DemoSvc/DemoServiceSesA" binding="netTcpBinding" bindingConfiguration="" contract="WCFDemoSvc.IDemoSvcSesA"/>        
      </service>
      <service name="WCFDemoSvc.DemoServiceSesNA">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10003/DemoSvc/"/>
          </baseAddresses>
        </host>
        <endpoint address="DemoServiceSesNA" binding="basicHttpBinding" bindingConfiguration="" contract="WCFDemoSvc.IDemoSvcSesNA"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>        
      </service>
      <service name="WCFDemoSvc.DemoServiceSesReq">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10004/DemoSvc/"/>
          </baseAddresses>
        </host>
        <endpoint address="DemoServiceSesReq" binding="basicHttpBinding" bindingConfiguration="" contract="WCFDemoSvc.IDemoSvcSesReq"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>        
      </service>
    
    
      <service name="WCFDemoSvc.DemoServiceSecure">        
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:10005/DemoSvc"/>
          </baseAddresses>
        </host>
	      <endpoint address="DemoServiceSecure" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="WCFDemoSvc.IDemoServiceSecure"/>
        
      </service>
    
      
        
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:10001/DemoSvc/DemoServiceWSDL" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
  </system.serviceModel>


  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelTraceListener">
          </add>
        </listeners>
      </source>

      <source name="System.ServiceModel.Activation">
        <listeners>
          <add name="ServiceModelTraceListener">
          </add>
        </listeners>
      </source>


      --><!--<source name="System.Net"  tracemode="includehex" maxdatasize="1024">--><!--
      <source name="System.Net"  >
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net "/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>


    </sources>

    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
    
    
    <sharedListeners>
      <add initializeData="C:\work\Workshops\WfA\Logging\Service_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
      --><!--<add initializeData="C:\work\Workshops\WfA\Logging\Server_Net.log"
	     name="SystemNetListener" type="System.Diagnostics.TextWriterTraceListener"
	     traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>--><!--
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\work\Workshops\WfA\Logging\Server_Net.log"  />
      --><!--traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />--><!--
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>-->
  
  
</configuration>
