<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2000"/>
      <!--<add address="http://wcfdemoazurepremday.azurewebsites.net" maxconnection="50000"/>-->
    </connectionManagement>
  </system.net>
  

  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelTraceListener">
          </add>
        </listeners>
      </source>

      <source name="System.ServiceModel.Activation">
        <listeners>
          <add name="ServiceModelTraceListener">
          </add>
        </listeners>
      </source>

      --><!--<source name="System.Net"  tracemode="includehex" maxdatasize="1024">--><!--
      <source name="System.Net"  >
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net "/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

    </sources>

    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
    
    <sharedListeners>
      <add initializeData="C:\work\Workshops\WfA\Logging\Client_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>

      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\work\Workshops\WfA\Logging\Client_Net.log" />
    --><!--traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />--><!--
      
    </sharedListeners>
    <trace autoflush="true"/>
    
  </system.diagnostics>-->
  
  
    <system.serviceModel>

      <!--<diagnostics>
        <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        <endToEndTracing propagateActivity="true" activityTracing="true"
          messageFlowTracing="true" />
      </diagnostics>-->


      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IDemoSvcSesNA"/>
          <binding name="BasicHttpBinding_IDemoSvcSesA"/>
          <binding name="BasicHttpBinding_IDemoService"/>
          <binding name="BasicHttpBinding_IDemoService1"/>
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_IDemoSvcSesA"/>
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="WSHttpBinding_IDemoServiceSecure">
            <security mode="Transport">
              <transport clientCredentialType="None"/>
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:10003/DemoSvc/DemoServiceSesNA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoSvcSesNA" contract="DemoServiceSesNAClient.IDemoSvcSesNA" name="BasicHttpBinding_IDemoSvcSesNA"/>
            <endpoint address="https://localhost:10005/DemoSvc/DemoServiceSecure" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDemoServiceSecure" contract="DemoServiceSecureClient.IDemoServiceSecure" name="WSHttpBinding_IDemoServiceSecure"/>
            <endpoint address="http://localhost:10002/DemoSvc/DemoServiceSesA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoSvcSesA" contract="DemoServiceSesAClient.IDemoSvcSesA" name="BasicHttpBinding_IDemoSvcSesA"/>
            <endpoint address="net.tcp://localhost:10008/DemoSvc/DemoServiceSesA" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDemoSvcSesA" contract="DemoServiceSesAClient.IDemoSvcSesA" name="NetTcpBinding_IDemoSvcSesA">
                <identity>
                    <userPrincipalName value="MIDDLEEAST\faikb"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10001/DemoSvc/DemoService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoService1" contract="DemoServiceClient.IDemoService" name="BasicHttpBinding_IDemoService" behaviorConfiguration="clientInspectorsAdded"/>
        </client>


      <extensions>
        <behaviorExtensions>
          <add name="simpleBehaviorExtension" type="WCFDemoSvcGUICli.SimpleBehaviorExtensionElement, WCFDemoSvcGUICli, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>

      <behaviors>
        <endpointBehaviors>
          <behavior name="clientInspectorsAdded">
            <simpleBehaviorExtension/>            
          </behavior>
        </endpointBehaviors>
      </behaviors>
      



    </system.serviceModel>
</configuration>
